{% block element_rhweb_brand_slider %}
    {% set sliderConfig = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }} ">
        <div class="base-slider product-slider"
             data-product-slider="true"
            {% block element_rhweb_brand_slider_slider_options %}
                 data-product-slider-options='{
                            {% if sliderConfig.elMinWidth.value %}
                                "productboxMinWidth":
                                "{{ sliderConfig.elMinWidth.value }}",
                            {% endif %}
                            "slider": {
                                "gutter": 30,
                                "autoplayButtonOutput": false,
                                "nav": false,
                                "controls": true,
                                "autoplay": true,
                                "mouseDrag": true
                            }
                         }'
             {% endblock %}
            >

            {% block element_rhweb_brand_slider_content %}
                <div class="product-slider-container" data-product-slider-container="true">
                    {% for brand in element.data.brands.elements %}
                        {% block element_rhweb_brand_slider_item %}
                            {% if (sliderConfig.onlyImages.value and brand.media) or sliderConfig.onlyImages.value == false %}
                                <div class="product-slider-item">
                                    {% block element_rhweb_brand_slider_item_link_start %}
                                        {% if sliderConfig.useLink.value and brand.link %}
                                            <a href="{{ brand.link }}" target="_self" rel="noopener" title="{{ brand.translated.name }}">
                                        {% endif %}
                                    {% endblock %}
                                    {% block element_rhweb_brand_slider_item_content %}
                                        {% if brand.media %}
                                            <img style="height:{{ sliderConfig.height.value }}" src="{{ brand.media.url }}" alt="{{ brand.name }}" title="{{ brand.translated.name }}">
                                        {% else %}
                                            <p class="m-0">{{ brand.translated.name }}</p>
                                        {% endif %}
                                    {% endblock %}
                                    {% block element_rhweb_brand_slider_item_link_end %}
                                        {% if sliderConfig.useLink.value and brand.link %}
                                            </a>
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </div>
            {% endblock %}

            {% block element_rhweb_brand_slider_controls %}
                <div class="product-slider-controls-container">
                    <div class="base-slider-controls" data-product-slider-controls="true">
                        {% block element_rhweb_brand_slider_button_left %}
                            <button class="base-slider-controls-prev product-slider-controls-prev">
                                {% block element_rhweb_brand_slider_button_left_icon %}
                                    {% sw_icon 'arrow-head-left' %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                        {% block element_rhweb_brand_slider_button_right %}
                            <button class="base-slider-controls-next product-slider-controls-next">
                                {% block element_rhweb_brand_slider_button_right_icon %}
                                    {% sw_icon 'arrow-head-right' %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
