{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
{# ThemeWare® HC-Architecture® via configuration #}

{# ---------------- START: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Set theme variables #}
{% set twtHeaderCartBtnCompatibility = theme_config('twt-header-cart-btn-compatibility') %}

{# ---------------- END: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Adjustments on the cart button #}
{# HC-Architecture @Doku #}
{% block layout_header_actions_cart_widget %}
	{% if twtHeaderCartBtnCompatibility == 2 %}
		<span class="header-cart-icon">
			{% sw_icon 'bag' %}
		</span>

		{# ThemeWare: Label "Warenkorb" ergänzen. #}
		<span class="header-cart-name">
			{{ "twt.header.cartText"|trans }}
		</span>

		{% if page.cart.lineItems|length > 0 %}
			<span class="badge badge-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
		{% endif %}
		<span class="header-cart-total">
			{{ page.cart.price.positionPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
		</span>
	{% else %}

		{# Default block #}
		{{ parent() }}
	{% endif %}
{% endblock %}