{% sw_extends "@Storefront/storefront/page/product-detail/buy-widget-price.html.twig" %}

{# Set price for master product #}
{% block page_product_detail_price_inner %}
    {% if page.product.extensions.EmcgnNoVariantPreselection.masterProduct %}
        {% set cheapest = page.product.calculatedCheapestPrice %}

        {% set real = page.product.calculatedPrice %}
        {% if page.product.calculatedPrices.count > 0 %}
            {% set real = page.product.calculatedPrices.last %}
        {% endif %}

        {% set highest = page.product.extensions.EmcgnNoVariantPreselection.highestUnitPrice %}

        {% set isListPrice = real.listPrice.percentage > 0 %}

        <meta itemprop="price" content="{{ cheapest.unitPrice }}">

        {% block emcgn_buy_widget_price_content %}
            <p class="product-detail-price{% if isListPrice and cheapest.unitPrice >= highest %} with-list-price{% endif %}">
                {% if cheapest.unitPrice < highest %}{{ "listing.listingTextFrom"|trans|sw_sanitize }}{% endif %}<span class="product-cheapest-price-price"> {{ cheapest.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}</span>
            </p>
            {% if isListPrice and cheapest.unitPrice >= highest %}
                {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}

                <span class="list-price-badge">&#37;</span>

                <span class="product-detail-list-price-wrapper">
                    {% if beforeListPriceSnippetExists %}{{"listing.beforeListPrice"|trans|trim}}{% endif %}

                    <span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ real.listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>

                    {% if afterListPriceSnippetExists %}
                        {{"listing.afterListPrice"|trans|trim}}
                    {% endif %}

                    <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': real.listPrice.percentage })|sw_sanitize }}</span>
                </span>
            {% endif %}
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
